.RadioQuestion {
}

.RadioQuestion-radio {
  padding: 5px 0;
}

.RadioQuestion-radio input {
  margin-right: 10px;
}

.RadioQuestion-radio label {
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 600px) {
  .RadioQuestion-radio {
    padding: 7px 0;
    margin: 5px 0;
  }
  
  .RadioQuestion-radio label {
    padding: 7px 0;
    display: block;
  }
}